<section class="hero is-link">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">
				Introducing _ProjektSpace
			</h1>
			<h2 class="subtitle">
				A lightweight project management tool for you and your team
			</h2>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-7">
				<div class="content">
					<h3 class="title is-3">Why _ProjektSpace?</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget duis at tellus at urna. Proin fermentum leo vel orci porta non pulvinar neque. Ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan. Velit laoreet id donec ultrices. Adipiscing elit duis tristique sollicitudin nibh sit amet. Aliquam ut porttitor leo a diam. Pretium lectus quam id leo in vitae. Nullam ac tortor vitae purus. Tortor id aliquet lectus proin nibh.</p>
                    <p>Et egestas quis ipsum suspendisse ultrices gravida dictum. Sit amet nulla facilisi morbi tempus iaculis urna id volutpat. Etiam sit amet nisl purus in mollis nunc. Sed euismod nisi porta lorem mollis aliquam ut porttitor leo. Habitant morbi tristique senectus et netus et. Ut tellus elementum sagittis vitae et.</p>
                    <p>Mauris in aliquam sem fringilla ut morbi tincidunt augue interdum. Suscipit adipiscing bibendum est ultricies integer quis auctor elit. Viverra accumsan in nisl nisi.</p>
				</div>
			</div>
			<div class="column is-4 is-offset1">
				<h4 class="subtitle is-4">Sign Up Today!</h4>
				<%= link_to 'Sign Up', new_user_registration_path, class: 'button is-link is-outlined' %>
			</div>
		</div>
	</div>
</section>